// Body
$body-bg: #f5f8fa;

$blue-color: #184258;

$light: #FFFFFF;

// Typography
$font-family-sans-serif: "Raleway", sans-serif !important;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$global-border: 2px solid #E5E5E5;